* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", monospace;
  background: #1c1c3c;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 35px;
}

h1 {
  color: #39ff14;
  margin-bottom: 25px;
}

/* Style du plateau de jeu - grille */
#plateau {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  gap: 1px;
  padding: 10px;
  background-color: #5c4033;
  border-radius: 8px;
}

.case {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.case-claire {
  background: #d69a6c;
}

.case-foncee {
  background: #8b4513;
}

.pion {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #333;
  transition: transform 0.3s ease;
}

.pion-joueur1 {
  background: #ffffff;
}

.pion-joueur2 {
  background: #000000;
}

/* Style du pion sélectionné*/
.pion.selectionne {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
}

/* Style des cases possibles pour les mouvements */
.case-possible {
  background: rgba(255, 255, 0, 0.5);
}

.info-jeu {
  margin-top: 30px;
  text-align: center;
}

#nouvelle-partie {
  margin-top: 10px;
  padding: 10px 20px;
  background: #32cd32;
  font-family: "Courier New", monospace;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  &:hover {
    background: #228b22;
  }
}

.dame {
  border: 4px solid gold;
}

/* Animation pour l'effet de capture d'une pièce */
@keyframes capture {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  1000% {
    transform: scale(0);
  }
}

.capture {
  animation: capture 0.5s forwards;
}
